<launch>

  <!--arg name="rviz_arg" default="-d $(find homework4)/rviz/explore.rviz" /-->

    <!-- Turtlebot3 Gazebo -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch">
    <arg name="model" value="waffle"/>
    <arg name="x_pos" value="-2.0"/>
  </include>

    <!-- Turtlebot3 Navigation -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="waffle"/>
  </include>

    <!-- Turtlebot3 SLAM -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="slam_methods" value="gmapping" />
    <arg name="open_rviz"    value="false" />
  </include>

  <!-- Node for autonomous mapping -->
  <node name="explore" pkg="com2009_assignment2" type="room_exploation.py" output="screen"/>

    <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
    
</launch>